In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz
!tar xf spark-3.4.0-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

In [ ]:
import findspark
findspark.init()

In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
import pyspark.pandas as ps
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark

Запись и чтение CSV

In [ ]:
pser = pd.Series(np.random.randn(1000),
  index = pd.date_range('1/1/2000', periods=1000))
pdf = pd.DataFrame(np.random.randn(1000, 4), index=pser.index,
 columns=['A', 'B', 'C', 'D'])
psdf = ps.from_pandas(pdf).head(10)
print(psdf)
print("##########")
psdf.to_csv('foo.csv')
print(ps.read_csv('foo.csv'))

/content/spark-3.4.0-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

                   A         B         C         D
2000-01-01 -1.595447 -0.791707  0.614005  0.098977
2000-01-02 -0.527095  0.076967  0.399083 -1.250186
2000-01-03  0.647316 -1.586751  0.956603 -1.979726
2000-01-04 -0.752048  0.009426 -1.391053  0.351499
2000-01-05 -0.002515  0.502028 -0.587403 -0.223349
2000-01-06  0.937739  0.372121  0.620472  0.256358
2000-01-07 -0.461002 -0.342698 -1.241647  0.668071
2000-01-08 -1.071872  0.063163 -1.008257 -0.221815
2000-01-09 -0.240724  1.380506 -1.902882  1.100550
2000-01-10  0.901473 -0.705965  0.608965  0.790831
##########

/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

          A         B         C         D
0 -1.595447 -0.791707  0.614005  0.098977
1 -0.527095  0.076967  0.399083 -1.250186
2  0.647316 -1.586751  0.956603 -1.979726
3 -0.752048  0.009426 -1.391053  0.351499
4 -0.002515  0.502028 -0.587403 -0.223349
5  0.937739  0.372121  0.620472  0.256358
6 -0.461002 -0.342698 -1.241647  0.668071
7 -1.071872  0.063163 -1.008257 -0.221815
8 -0.240724  1.380506 -1.902882  1.100550
9  0.901473 -0.705965  0.608965  0.790831

Запись и чтение Parquet.

In [ ]:
psdf = ps.from_pandas(pdf).head(10)
print(psdf)
print("##########")
psdf.to_parquet('bar.parquet')
ps.read_parquet('bar.parquet')

/content/spark-3.4.0-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_parquet`, the existing index is lost when converting to Parquet.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)
/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

                   A         B         C         D
2000-01-01 -1.595447 -0.791707  0.614005  0.098977
2000-01-02 -0.527095  0.076967  0.399083 -1.250186
2000-01-03  0.647316 -1.586751  0.956603 -1.979726
2000-01-04 -0.752048  0.009426 -1.391053  0.351499
2000-01-05 -0.002515  0.502028 -0.587403 -0.223349
2000-01-06  0.937739  0.372121  0.620472  0.256358
2000-01-07 -0.461002 -0.342698 -1.241647  0.668071
2000-01-08 -1.071872  0.063163 -1.008257 -0.221815
2000-01-09 -0.240724  1.380506 -1.902882  1.100550
2000-01-10  0.901473 -0.705965  0.608965  0.790831
##########

/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_parquet`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

          A         B         C         D
0 -1.595447 -0.791707  0.614005  0.098977
1 -0.527095  0.076967  0.399083 -1.250186
2  0.647316 -1.586751  0.956603 -1.979726
3 -0.752048  0.009426 -1.391053  0.351499
4 -0.002515  0.502028 -0.587403 -0.223349
5  0.937739  0.372121  0.620472  0.256358
6 -0.461002 -0.342698 -1.241647  0.668071
7 -1.071872  0.063163 -1.008257 -0.221815
8 -0.240724  1.380506 -1.902882  1.100550
9  0.901473 -0.705965  0.608965  0.790831

 API pandas в Spark полностью поддерживает различные источники данных Spark, такие как ORC и внешний источник данных. Запись и чтение ORC.

In [ ]:
psdf = ps.from_pandas(pdf).head(10)
print(psdf)
print("##########")
psdf.to_spark_io('zoo.orc', format="orc")
ps.read_spark_io('zoo.orc', format="orc")

/content/spark-3.4.0-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/content/spark-3.4.0-bin-hadoop3/python/pyspark/pandas/frame.py:5364: FutureWarning: Deprecated in 3.2, Use DataFrame.spark.to_spark_io instead.
  warnings.warn("Deprecated in 3.2, Use DataFrame.spark.to_spark_io instead.", FutureWarning)

                   A         B         C         D
2000-01-01 -1.595447 -0.791707  0.614005  0.098977
2000-01-02 -0.527095  0.076967  0.399083 -1.250186
2000-01-03  0.647316 -1.586751  0.956603 -1.979726
2000-01-04 -0.752048  0.009426 -1.391053  0.351499
2000-01-05 -0.002515  0.502028 -0.587403 -0.223349
2000-01-06  0.937739  0.372121  0.620472  0.256358
2000-01-07 -0.461002 -0.342698 -1.241647  0.668071
2000-01-08 -1.071872  0.063163 -1.008257 -0.221815
2000-01-09 -0.240724  1.380506 -1.902882  1.100550
2000-01-10  0.901473 -0.705965  0.608965  0.790831
##########

          A         B         C         D
0 -1.595447 -0.791707  0.614005  0.098977
1 -0.527095  0.076967  0.399083 -1.250186
2  0.647316 -1.586751  0.956603 -1.979726
3 -0.752048  0.009426 -1.391053  0.351499
4 -0.002515  0.502028 -0.587403 -0.223349
5  0.937739  0.372121  0.620472  0.256358
6 -0.461002 -0.342698 -1.241647  0.668071
7 -1.071872  0.063163 -1.008257 -0.221815
8 -0.240724  1.380506 -1.902882  1.100550
9  0.901473 -0.705965  0.608965  0.790831

Вычисление корреляции между двумя рядами данных является обычной
операцией в статистике. Мы spark.ml обеспечиваем гибкость расчета парных
корреляций между многими рядами. Поддерживаемые методы корреляции в
настоящее время — это корреляция Пирсона и Спирмена

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation
data = [(Vectors.sparse(4, [(0, 1.0), (3, -2.0)]),),
 (Vectors.dense([4.0, 5.0, 0.0, 3.0]),),
 (Vectors.dense([6.0, 7.0, 0.0, 8.0]),),
 (Vectors.sparse(4, [(0, 9.0), (3, 1.0)]),)]
df = spark.createDataFrame(data, ["features"])
r1 = Correlation.corr(df, "features").head()
print("Pearson correlation matrix:\n" + str(r1[0]))
r2 = Correlation.corr(df, "features", "spearman").head()
print("Spearman correlation matrix:\n" + str(r2[0]))

Pearson correlation matrix:
DenseMatrix([[1.        , 0.05564149,        nan, 0.40047142],
             [0.05564149, 1.        ,        nan, 0.91359586],
             [       nan,        nan, 1.        ,        nan],
             [0.40047142, 0.91359586,        nan, 1.        ]])
Spearman correlation matrix:
DenseMatrix([[1.        , 0.10540926,        nan, 0.4       ],
             [0.10540926, 1.        ,        nan, 0.9486833 ],
             [       nan,        nan, 1.        ,        nan],
             [0.4       , 0.9486833 ,        nan, 1.        ]])

Еще один пример:

In [ ]:
from pyspark.ml.linalg import DenseMatrix, Vectors
from pyspark.ml.stat import Correlation
dataset = [[Vectors.dense([1, 0, 0, -2])],
 [Vectors.dense([4, 5, 0, 3])],
 [Vectors.dense([6, 7, 0, 8])],
 [Vectors.dense([9, 0, 0, 1])]]
dataset = spark.createDataFrame(dataset, ['features'])
pearsonCorr = Correlation.corr(dataset, 'features', 'pearson').collect()[0][0]
print(str(pearsonCorr).replace('nan', 'NaN'))
spearmanCorr = Correlation.corr(dataset, 'features', method='spearman').collect()[0][0]
print(str(spearmanCorr).replace('nan', 'NaN'))

DenseMatrix([[1.        , 0.05564149,        NaN, 0.40047142],
             [0.05564149, 1.        ,        NaN, 0.91359586],
             [       NaN,        NaN, 1.        ,        NaN],
             [0.40047142, 0.91359586,        NaN, 1.        ]])
DenseMatrix([[1.        , 0.10540926,        NaN, 0.4       ],
             [0.10540926, 1.        ,        NaN, 0.9486833 ],
             [       NaN,        NaN, 1.        ,        NaN],
             [0.4       , 0.9486833 ,        NaN, 1.        ]])

**ChiSquareTest** проводит тест Пирсона на независимость каждой функции от
этикетки. Для каждой функции пары (функция, метка) преобразуются в
матрицу непредвиденных обстоятельств, для которой вычисляется статистика
хи-квадрат. Все значения меток и функций должны быть категориальными.

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import ChiSquareTest
data = [(0.0, Vectors.dense(0.5, 10.0)),
 (0.0, Vectors.dense(1.5, 20.0)),
 (1.0, Vectors.dense(1.5, 30.0)),
 (0.0, Vectors.dense(3.5, 30.0)),
 (0.0, Vectors.dense(3.5, 40.0)),
 (1.0, Vectors.dense(3.5, 40.0))]
df = spark.createDataFrame(data, ["label", "features"])
r = ChiSquareTest.test(df, "features", "label").head()
print("pValues: " + str(r.pValues))
print("degreesOfFreedom: " + str(r.degreesOfFreedom))
print("statistics: " + str(r.statistics))

pValues: [0.6872892787909721,0.6822703303362126]
degreesOfFreedom: [2, 3]
statistics: [0.75,1.5]

**Сумматор**

Мы предоставляем сводную статистику векторного столбца для
Dataframeсквозных Summarizer. Доступные метрики: максимальное,
минимальное, среднее значение, сумма, дисперсия, стандартное значение и
количество ненулевых значений по столбцам, а также общее количество.

In [ ]:
from pyspark.ml.stat import Summarizer
from pyspark.sql import Row
sc = spark.sparkContext
df = sc.parallelize([Row(weight=1.0, features=Vectors.dense(1.0, 1.0, 1.0)),
 Row(weight=0.0, features=Vectors.dense(1.0, 2.0, 3.0))]).toDF()
# create summarizer for multiple metrics "mean" and "count"
summarizer = Summarizer.metrics("mean", "count")
# compute statistics for multiple metrics with weight
df.select(summarizer.summary(df.features, df.weight)).show(truncate=False)
# compute statistics for multiple metrics without weight
df.select(summarizer.summary(df.features)).show(truncate=False)
# compute statistics for single metric "mean" with weight
df.select(Summarizer.mean(df.features, df.weight)).show(truncate=False)
# compute statistics for single metric "mean" without weight
df.select(Summarizer.mean(df.features)).show(truncate=False)

+-----------------------------------+
|aggregate_metrics(features, weight)|
+-----------------------------------+
|{[1.0,1.0,1.0], 1}                 |
+-----------------------------------+

+--------------------------------+
|aggregate_metrics(features, 1.0)|
+--------------------------------+
|{[1.0,1.5,2.0], 2}              |
+--------------------------------+

+--------------+
|mean(features)|
+--------------+
|[1.0,1.0,1.0] |
+--------------+

+--------------+
|mean(features)|
+--------------+
|[1.0,1.5,2.0] |
+--------------+