<a href="https://colab.research.google.com/github/endophenotype/Spark/blob/main/Spark_SQL_%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81%D1%8B_%D0%B8_%D0%B2%D0%BE%D0%B7%D0%B2%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D0%B5_%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%82%D0%BE%D0%B2_%D0%B2_%D0%B2%D0%B8%D0%B4%D0%B5_%D1%84%D0%B0%D0%B9%D0%BB%D0%B0_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

В Python можно получить доступ к столбцам DataFrame либо по атрибуту ( df.age), либо по индексу ( df['age']). Хотя первый вариант удобен для интерактивного исследования данных, пользователям настоятельно рекомендуется использовать второй вариант, который рассчитан на будущее и не нарушает имена столбцов, которые также являются атрибутами класса DataFrame.

In [ ]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

# spark is an existing SparkSession
df = spark.read.json("/content/spark-3.1.1-bin-hadoop3.2/examples/src/main/resources/people.json")

# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()

# Select only the "name" column
df.select("name").show()

# Select everybody, but increment the age by 1
df.select(df['name'], df['age'] + 1).show()

# Select people older than 21
df.filter(df['age'] > 21).show()

# Count people by age
df.groupBy("age").count().show()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

Функция позволяет sql приложениям SparkSession программно выполнять
SQL-запросы и возвращает результат в виде файла DataFrame.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
 .builder \
 .appName("Python Spark SQL basic example") \
 .config("spark.some.config.option", "some-value") \
 .getOrCreate()
# spark is an existing SparkSession
df = spark.read.json("/content/spark-3.1.1-bin-hadoop3.2/examples/src/main/resources/people.json")
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Глобальное временное представление привязано к сохраненной системой базе
данных global_temp, и мы должны использовать полное имя для ссылки на
него, например SELECT * FROM global_temp.view1.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
 .builder \
 .appName("Python Spark SQL basic example") \
 .config("spark.some.config.option", "some-value") \
 .getOrCreate()
# spark is an existing SparkSession
df = spark.read.json("/content/spark-3.1.1-bin-hadoop3.2/examples/src/main/resources/people.json")
# Register the DataFrame as a global temporary view
df.createGlobalTempView("people")
# Global temporary view is tied to a system preserved database `global_temp`
spark.sql("SELECT * FROM global_temp.people").show()
# Global temporary view is cross-session
spark.newSession().sql("SELECT * FROM global_temp.people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Spark SQL может преобразовывать RDD объектов Row в DataFrame, определяя
типы данных. Строки создаются путем передачи списка пар ключ/значение в
виде kwargs классу Row. Ключи этого списка определяют имена столбцов
таблицы, а типы выводятся путем выборки всего набора данных, аналогично
выводу, который выполняется для файлов JSON.

In [ ]:
spark = SparkSession \
 .builder \
 .appName("Python Spark SQL basic example") \
 .config("spark.some.config.option", "some-value") \
 .getOrCreate()
from pyspark.sql import Row
sc = spark.sparkContext
# Load a text file and convert each line to a Row.
lines = sc.textFile("/content/spark-3.1.1-bin-hadoop3.2/examples/src/main/resources/people.txt")
parts = lines.map(lambda l: l.split(","))
people = parts.map(lambda p: Row(name=p[0], age=int(p[1])))
# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people)
schemaPeople.createOrReplaceTempView("people")
# SQL can be run over DataFrames that have been registered as a table.
teenagers = spark.sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")
# The results of SQL queries are Dataframe objects.
# rdd returns the content as an :class:`pyspark.RDD` of :class:`Row`.
teenNames = teenagers.rdd.map(lambda p: "Name: " + p.name).collect()
for name in teenNames:
 print(name)

Name: Justin

Схема, представленная StructType соответствующей структурой
кортежей или списков в RDD

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
 .builder \
 .appName("Python Spark SQL basic example") \
 .config("spark.some.config.option", "some-value") \
 .getOrCreate()
# Import data types
from pyspark.sql.types import StringType, StructType, StructField
sc = spark.sparkContext
# Load a text file and convert each line to a Row.
lines = sc.textFile("/content/spark-3.1.1-bin-hadoop3.2/examples/src/main/resources/people.txt")
parts = lines.map(lambda l: l.split(","))
# Each line is converted to a tuple.
people = parts.map(lambda p: (p[0], p[1].strip()))
# The schema is encoded in a string.
schemaString = "name age"
fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)
# Apply the schema to the RDD.
schemaPeople = spark.createDataFrame(people, schema)
# Creates a temporary view using the DataFrame
schemaPeople.createOrReplaceTempView("people")
# SQL can be run over DataFrames that have been registered as a table.
results = spark.sql("SELECT name FROM people")
results.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [ ]:
df.createGlobalTempView("daily")

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
 .builder \
 .appName("Python Spark SQL basic example") \
 .config("spark.some.config.option", "some-value") \
 .getOrCreate()
# spark is an existing SparkSession
df = spark.read.option("multiline","true").json("/content/daily_json.js")
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                Date|        PreviousDate|         PreviousURL|           Timestamp|              Valute|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|2023-05-12T11:30:...|2023-05-11T11:30:...|//www.cbr-xml-dai...|2023-05-11T20:00:...|{{AED, R01230, Ди...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
df.select("Valute").show

<bound method DataFrame.show of +--------------------+
|              Valute|
+--------------------+
|{{AED, R01230, Ди...|
+--------------------+
>

In [ ]:
from pyspark.sql import SparkSession, functions as F
from urllib.request import urlopen

spark = SparkSession.builder.getOrCreate()

url = 'https://www.cbr-xml-daily.ru/daily_json.js'
jsonData = urlopen(url).read().decode('utf-8')
rdd = spark.sparkContext.parallelize([jsonData])
dfurl = spark.read.json(rdd)
dfurl.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                Date|        PreviousDate|         PreviousURL|           Timestamp|              Valute|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|2023-05-12T11:30:...|2023-05-11T11:30:...|//www.cbr-xml-dai...|2023-05-11T20:00:...|{{AED, R01230, Ди...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
from pyspark.sql import SparkSession, functions as F
from urllib.request import urlopen
spark = SparkSession.builder.getOrCreate()
url = 'https://www.cbr-xml-daily.ru/daily_json.js'
jsonData = urlopen(url).read().decode('utf-8')
rdd = spark.sparkContext.parallelize([jsonData])
#df = spark.read.json(rdd)
df = spark.read.option("inferSchema", "true").option("multiline", "true").json(rdd)
df.printSchema()
df.select("Valute.*").show(1,truncate=90,vertical=True)
df.select("Valute.XDR.*").show(1,truncate=90,vertical=True)
df.select("Valute.XDR.*").show(1,truncate=90,vertical=False)

root
 |-- Date: string (nullable = true)
 |-- PreviousDate: string (nullable = true)
 |-- PreviousURL: string (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- Valute: struct (nullable = true)
 |    |-- AED: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- AMD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- AUD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- AZN: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- BGN: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- BRL: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- BYN: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- CAD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- CHF: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- CNY: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- CZK: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- DKK: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- EGP: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- EUR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- GBP: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- GEL: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- HKD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- HUF: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- IDR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- INR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- JPY: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- KGS: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- KRW: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- KZT: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- MDL: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- NOK: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- NZD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- PLN: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- QAR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- RON: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- RSD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- SEK: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- SGD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- THB: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- TJS: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- TMT: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- TRY: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- UAH: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- USD: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- UZS: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- VND: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- XDR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)
 |    |-- ZAR: struct (nullable = true)
 |    |    |-- CharCode: string (nullable = true)
 |    |    |-- ID: string (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Nominal: long (nullable = true)
 |    |    |-- NumCode: string (nullable = true)
 |    |    |-- Previous: double (nullable = true)
 |    |    |-- Value: double (nullable = true)

-RECORD 0--------------------------------------------------------------------------------
 AED | {AED, R01230, Дирхам ОАЭ, 1, 784, 20.8853, 20.6646}
 AMD | {AMD, R01060, Армянских драмов, 100, 051, 19.8481, 19.6424}
 AUD | {AUD, R01010, Австралийский доллар, 1, 036, 51.8751, 51.4118}
 AZN | {AZN, R01020A, Азербайджанский манат, 1, 944, 45.1135, 44.638}
 BGN | {BGN, R01100, Болгарский лев, 1, 975, 42.9724, 42.4838}
 BRL | {BRL, R01115, Бразильский реал, 1, 986, 15.3374, 15.3166}
 BYN | {BYN, R01090B, Белорусский рубль, 1, 933, 27.0484, 27.1045}
 CAD | {CAD, R01350, Канадский доллар, 1, 124, 57.2763, 56.7361}
 CHF | {CHF, R01775, Швейцарский франк, 1, 756, 86.1041, 84.8062}
 CNY | {CNY, R01375, Китайский юань, 1, 156, 11.039, 10.9119}
 CZK | {CZK, R01760, Чешских крон, 10, 203, 35.8646, 35.4866}
 DKK | {DKK, R01215, Датская крона, 1, 208, 11.2888, 11.1569}
 EGP | {EGP, R01240, Египетских фунтов, 10, 818, 24.8224, 24.5585}
 EUR | {EUR, R01239, Евро, 1, 978, 84.1498, 82.8877}
 GBP | {GBP, R01035, Фунт стерлингов Соединенного королевства, 1, 826, 96.7251, 95.7512}
 GEL | {GEL, R01210, Грузинский лари, 1, 981, 30.3206, 30.001}
 HKD | {HKD, R01200, Гонконгских долларов, 10, 344, 98.1355, 96.9895}
 HUF | {HUF, R01135, Венгерских форинтов, 100, 348, 22.6326, 22.3624}
 IDR | {IDR, R01280, Индонезийских рупий, 10000, 360, 51.9705, 51.4611}
 INR | {INR, R01270, Индийских рупий, 100, 356, 93.6934, 92.8419}
 JPY | {JPY, R01820, Японских иен, 100, 392, 56.7465, 56.5881}
 KGS | {KGS, R01370, Киргизских сомов, 100, 417, 87.8498, 86.9198}
 KRW | {KRW, R01815, Вон Республики Корея, 1000, 410, 57.8902, 57.2153}
 KZT | {KZT, R01335, Казахстанских тенге, 100, 398, 17.2235, 17.085}
 MDL | {MDL, R01500, Молдавских леев, 10, 498, 43.0286, 42.5751}
 NOK | {NOK, R01535, Норвежских крон, 10, 578, 72.725, 71.9865}
 NZD | {NZD, R01530, Новозеландский доллар, 1, 554, 48.608, 48.3688}
 PLN | {PLN, R01565, Польский злотый, 1, 985, 18.5688, 18.3371}
 QAR | {QAR, R01355, Катарский риал, 1, 634, 21.0695, 20.8474}
 RON | {RON, R01585F, Румынский лей, 1, 946, 17.0725, 16.8221}
 RSD | {RSD, R01805F, Сербских динаров, 100, 941, 71.7745, 71.0387}
 SEK | {SEK, R01770, Шведских крон, 10, 752, 75.2895, 73.9148}
 SGD | {SGD, R01625, Сингапурский доллар, 1, 702, 57.816, 57.2412}
 THB | {THB, R01675, Таиландских батов, 10, 764, 22.7936, 22.5401}
 TJS | {TJS, R01670, Таджикских сомони, 10, 972, 70.2734, 69.5315}
 TMT | {TMT, R01710A, Новый туркменский манат, 1, 934, 21.9123, 21.6813}
 TRY | {TRY, R01700J, Турецких лир, 10, 949, 39.3126, 38.8534}
 UAH | {UAH, R01720, Украинских гривен, 10, 980, 20.7575, 20.5459}
 USD | {USD, R01235, Доллар США, 1, 840, 76.6929, 75.8846}
 UZS | {UZS, R01717, Узбекских сумов, 10000, 860, 67.08, 66.257}
 VND | {VND, R01150, Вьетнамских донгов, 10000, 704, 32.4557, 32.111}
 XDR | {XDR, R01589, СДР (специальные права заимствования), 1, 960, 103.4779, 102.2742}
 ZAR | {ZAR, R01810, Южноафриканских рэндов, 10, 710, 40.8676, 40.0736}

-RECORD 0-----------------------------------------
 CharCode | XDR
 ID       | R01589
 Name     | СДР (специальные права заимствования)
 Nominal  | 1
 NumCode  | 960
 Previous | 103.4779
 Value    | 102.2742

+--------+------+-------------------------------------+-------+-------+--------+--------+
|CharCode|    ID|                                 Name|Nominal|NumCode|Previous|   Value|
+--------+------+-------------------------------------+-------+-------+--------+--------+
|     XDR|R01589|СДР (специальные права заимствования)|      1|    960|103.4779|102.2742|
+--------+------+-------------------------------------+-------+-------+--------+--------+

In [ ]:
from pyspark import SparkContext, SparkConf
appName = 'appName'
master = 'local[*]'
sc.stop()
conf = SparkConf().setAppName(appName).setMaster(master)
sc = SparkContext(conf=conf)
a = [('g1', 2), ('g2', 4), ('g3', 3), ('g4', 8)]
rdd = sc.parallelize(a);
print(rdd.collect())
sorted = rdd.sortByKey()
print(sorted.collect())
rdd2 = rdd.flatMap(lambda s: [(s[1], s[0])])
print(rdd2.collect())
sorted = rdd2.sortByKey()
print(sorted.collect())
sorted = rdd2.sortByKey(False)
print(sorted.collect())
sorted = rdd2.sortByKey()
print(sorted.collect())
indices = sorted.zipWithIndex()
print(indices.collect())

[('g1', 2), ('g2', 4), ('g3', 3), ('g4', 8)]
[('g1', 2), ('g2', 4), ('g3', 3), ('g4', 8)]
[(2, 'g1'), (4, 'g2'), (3, 'g3'), (8, 'g4')]
[(2, 'g1'), (3, 'g3'), (4, 'g2'), (8, 'g4')]
[(8, 'g4'), (4, 'g2'), (3, 'g3'), (2, 'g1')]
[(2, 'g1'), (3, 'g3'), (4, 'g2'), (8, 'g4')]
[((2, 'g1'), 0), ((3, 'g3'), 1), ((4, 'g2'), 2), ((8, 'g4'), 3)]